doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    block head-title
        title Foundation

    block head-styles
        link(rel="stylesheet", href="/css/app.css")
    block head-scripts
        script(src="/js/modernizr.js")

  body
    block body

    block body-scripts
    script(src="/js/app.js")
